@model IEnumerable<Categorie>
@{
    ViewData["Title"] = "Index";
}

<div class="pt-5">
    <div class="row">
        <div class="col-6">
            <h2>Liste des Catégories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categorie" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-dotted"></i> &nbsp; Ajouter une Catégorie
            </a>
        </div>
    </div>

    <div class="pt-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nb Commandes</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var cat in Model)
                {
                    <tr>
                        <td>
                            @cat.Name
                        </td>
                        <td>
                            @cat.NombreCommandes
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

